<img id="burgerIMG" src="burger.png">

<h2>Eat-Da-Burger!</h2>

<form>
    <textarea id=burgerForm></textarea>
</form>

<button id="submit">submit</button>

<h4>Enter a burger you want to eat and click the "submit" button.</h4>