<img id="burgerIMG" src="burger.png">

<h2>Eat-Da-Burger!</h2>

<ul>
    {{#each burgers}}
    <li>
        <div id="burgerList">
            <h1>{{id}}. {{burger}}</h1>
        </div>
        <button id="devour">Devour!</button>
    </li>
    {{/each}}
</ul>

<form>
    <textarea id=burgerForm></textarea>
</form>

<button id="submit">submit</button>

<h4>Enter a burger you want to eat and click the "submit" button.</h4>