body {
    background-color: rgb(230, 194, 103);
    text-align: center;
    margin: auto;
    width: 50%;
    border: 5px;
    padding: 5px;
}

h2 {
    color: rgb(204, 20, 20);
    font-size: 40px;
}


#burgerForm {
    width: 325px;
    height: 75px;
}

#burgerIMG {
    width: 250px;
    padding-top: 20px;
}

.hide {
    display: none;
    opacity: 0;
}